<a href="https://colab.research.google.com/github/ngupta23/fastai_notebooks/blob/master/lesson4_tabular.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tabular models

In [1]:
from fastai.tabular import *

### <font color = red>Tabular data should be in a Pandas `DataFrame`.</font>

In [2]:
path = untar_data(URLs.ADULT_SAMPLE)
df = pd.read_csv(path/'adult.csv')

In [3]:
dep_var = 'salary'
cat_names = ['workclass', 'education', 'marital-status', 'occupation', 'relationship', 'race']
cont_names = ['age', 'fnlwgt', 'education-num']
procs = [FillMissing, Categorify, Normalize]  # Processor (preprocess - happens ahead of time)
# FillMissing - Deals with missing values (mediam impute and add a new column to indicate if it was missing or not)
# Categorify - Converts categorical variables and turns them into Pandas Categories
# Normalize - Normalizes Continuous variables (Subtract mean and divide by SD)

In [4]:
# Whatever you do for the train set, you need to do to the validation and test set as well (using same 'fit' for the preprocess steps)
# fastai will handle this for you.
test = TabularList.from_df(df.iloc[800:1000].copy(), path=path, cat_names=cat_names, cont_names=cont_names)

In [5]:
data = (TabularList.from_df(df, path=path, cat_names=cat_names, cont_names=cont_names, procs=procs)
                           .split_by_idx(list(range(800,1000)))
                           .label_from_df(cols=dep_var)
                           .add_test(test)
                           .databunch())

In [6]:
data.show_batch(rows=10)

In [7]:
# Metrics only get printed out. They dont impact model training.
learn = tabular_learner(data, layers=[200,100], metrics=accuracy)

In [8]:
learn.fit(1, 1e-2)

## Inference

In [11]:
row = df.iloc[0]
row

age                                49
workclass                     Private
fnlwgt                         101320
education                  Assoc-acdm
education-num                      12
marital-status     Married-civ-spouse
occupation                        NaN
relationship                     Wife
race                            White
sex                            Female
capital-gain                        0
capital-loss                     1902
hours-per-week                     40
native-country          United-States
salary                          >=50k
Name: 0, dtype: object

In [10]:
learn.predict(row)

(Category >=50k, tensor(1), tensor([0.2962, 0.7038]))